{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://kit.fontawesome.com/fc1e235b2e.js"></script>
  <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
  <title>Instagram | Out</title>
</head>

<body>

  <div id="wrapper">
    <div class="container">
      <div class="phone-app-demo"></div>
      <div class="form-data">
        <!-- Logout form which submits a POST request to trigger logout -->
        <form method="POST">
          {% csrf_token %}
          <div class="logo">
            <img src="{% static 'assets2/images/logo.png' %}" alt="logo">
          </div>
          <h2>You have been logged out.</h2>
          <button class="form-btn" type="submit">Go to Sign In</button> <!-- Logout action -->
        </form>
        <div class="get-the-app">
          <span>Get the app.</span>
          <div class="badges">
            <img src="{% static 'assets2/images/app-store.png' %}" alt="app-store badge">
            <img src="{% static 'assets2/images/google-play.png' %}" alt="google-play badge">
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
